.wrapper {
    border: 2px solid #000;
    padding: 20px;
    width: calc(100vw - 60px);
    height: calc(100vh - 60px);
    min-height: fit-content;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}